.nav {
    text-decoration: none;
    display: flex;
    position: relative;
    top: 0px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: #1f1e1e;
    line-height: 50px;
}
.navl {
    margin-right: 20px;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.selectedLink {
    background-color: rgb(10, 119, 221);
}
h1 {
    padding-top: 20px;
}
.container {
    width: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,
        rgb(10, 119, 221),
        rgb(6, 6, 51),
        rgb(6, 6, 51)
    );
    height: 100%;
}

.map {
    padding: 20px;
}

.in {
    padding: 8px;
    margin: 10px;
    font-size: medium;
    border: 0px solid black;
    background-color: rgba(14, 15, 75, 0.295);
    color: white;
    /* padding-left: 20px; */
}

.btn {
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    background-color: #3093cc;
    color: white;
    padding: 10px;
    margin: 0px;
    border: 0px;
}

.res {
    display: flex;
    position: relative;
    top: 20px;
    flex-direction: column;
    padding: 20px;
    font-weight: 500;
    color: white;
    font-size: 35px;
    font-family: monospace;
}

.main {
    display: flex;
    position: relative;
    top: 6.7%;
    /* bottom: 0px; */
    justify-content: space-between;
    flex-basis: auto;
}
.f0 {
    position: relative;
    font-weight: 900;
    color: #ffffff;
    font-size: 79px;
    left: 30px;
    /* top: 50px; */
    flex: 1;
}
.f1 {
    height: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.frm {
    /* height: 50px; */
}
.res span {
    color: rgb(233, 41, 41);
}
.res div {
    margin-top: 30px;
}
